flask
gunicorn
langchain==0.1.13
langchain-community
langchain-pinecone
langchain-openai
langchain-experimental
langchain-google-genai
google-generativeai
python-dotenv
pypdf
pinecone-client[grpc]
sentence-transformers==2.2.2
huggingface-hub==0.14.1
-e .

